*/.classpath
*/.project
*/.settings/
*/.settings/
*/.settings/
*/target/
*/.scannerwork
*/.DS_Store
node_modules
unpackage/
dist

*/qqconnect.log*
*/**/*.orig
*/**/*Test.java

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
zentao-monitor/src/main/resources/application-local.yml
zentao-monitor/src/main/resources/application-prod.yml
